<div class="p-grid">
  <div class="p-col1">
    <p-panel header="House Listing">
      <div class="p-grid" *ngIf="houseListing.length">
        <div class="p-col1">
            <p-card *ngFor="let item of houseListing" (click)="getCoordinates(item)">
                <ul>
                  <li>Name: {{item.properties.name}}</li>
                  <li>Street Address: {{item.properties.streetAddress}}</li>
                  <li>City: {{item.properties.city}}</li>
                </ul>
                <div class="photo">
                  <img  src={{item?.properties.photo}} alt="Image" height="95" width="95">
                </div>
              </p-card>
            </div>
          </div>
    </p-panel>
  </div>
  <div class="p-col2">
      <app-map [mapCoord]="mapCoord"></app-map>
  </div>
</div>

